.clearfix{
	clear: both;
}
#query-form table td{
	padding: 5px;
}

#price-result table{
	max-width: 660px;
}

#input-area{
	min-width:260px;
}

#area-select-tool{
	padding:10px;
	min-height: 400px;
	max-width:660px;
	border:1px solid green;
	position: fixed;
	display: none;
	background: #fff;
	z-index: 99;
}

#group-header b{
	float: left;
	padding:6px;
	cursor: pointer;
}

#group-header b.current{
	color: red;
	background: #eee;
}

#group-body{
	clear:both;
	max-width: 660px;
}

#group-body h3{
	border-bottom: 1px dashed #ccc;
	margin-top: 10px;
	margin-bottom: 5px;
}
#group-body span{
	float: left;
	padding: 3px;
	margin-right: 5px;
	cursor: pointer;
	width:40%;
}


#group-body span.selected,
#group-body span:hover{
	color: #fff;
	background-color: red;
}



#remote-form table td{
	padding:5px;
}

#remote-form table td.th{
	font-weight: bold;
	text-align: right;
}

#remote-code{
	max-width: 100px;
}

#remote-table{
	width:765px;
	margin-top: 10px;
}