.btn-toback{
	clear: both;
	float: right;
}

.state input,
.cost input,
.fee input,
.price input,
.amount input,
.com input,
.destination input{
	max-width: 50px;
}

.com_dismatch{
	color:red;
}


.com-items span{
	padding: 5px;
	border:1px dashed gray;
	cursor: pointer;
	line-height: 36px;
	margin-right: 10px;
	margin-top: 5px;
}

.com-items span.selected{
	border:1px solid #000;
	outline: 2px solid #000;
}
